<p>Hi,</p>

<p>You have a new realtor interested in working with you. See the information below:</p>
<br />
<p>Name: <span><%= @realtor.first_name%> <%= @realtor.last_name%></span></p>
<p>Phone number: <%= @profile.tel%></p>
<p>Email address: <%= @profile.email%></p>
<p>Bio: <%= @profile.bio%></p>

